{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container" style="padding-top: 120px;">

  <div class="in-header cl-md-12 row mt-md-5 py-md-5">
   <h1>Contact Us</h1>
 </div>
</div>

<div class="container">
 <div class="row bargin-bottom-20px">
  {% if messages %}
  {% for message in messages %}
  <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="col-md-6 col-sm-12  h-l form-area">

   <!-- start form area-->
   <form class="form-horizontal" id="contact_form_id" method="POST" action="save_contact">
    {% csrf_token %}
    <div class="gap col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="svtc">
       <div class="information-section">
        <div>
         <div class="information">
          <h2>Get Connected</h2>
        </div>    
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p class="fieldspace"><span class="requiredtext_form"><span class="required">*</span>Note: Required fields</span></p><br>
    </div>
  </div>


  <!--  redundant fields end -->

  <fieldset>
   <legend> </legend>
   <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- First Name -->
        <div class="col-lg-6 col-md-6 col-sm-12">
         <div class="required-field form-group halfAvailableWidth has-feedback">          
           {{ form.first_name|as_crispy_field }}          
         </div>
       </div>
       <!-- Last Name -->
       <div class="col-lg-6 col-md-6 col-sm-12">                         
        {{ form.last_name|as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Company Name -->
        <div class="required-field form-group halfAvailableWidth has-feedback">
          {{ form.company_name|as_crispy_field }}
        </div>
      </div>
      <!-- Email Address-->
      <div class="col-lg-6 col-md-6 col-sm-12">
       <div class="required-field form-group halfAvailableWidth has-feedback">
        {{ form.email_address|as_crispy_field }}
      </div>
    </div>
  </div>
</div>
</div>
</fieldset>

<fieldset>
 <legend> </legend>
 <div class="row">
  <!-- Country -->
  <div class="col-lg-6 col-md-6 col-sm-12">
   <div class="required-field form-group halfAvailableWidth has-feedback">
    {{ form.country|as_crispy_field }}
  </div>


</div>
<!-- Role -->
<!-- Phone -->
<div class="col-lg-6 col-md-6 col-sm-12">
 <div class="required-field form-group halfAvailableWidth has-feedback">
  {{ form.phone_no|as_crispy_field }}
</div>
</div>
</div>


</fieldset>

<fieldset>
  <legend> </legend>
  <div class="row">
    <div class="col-sm-12">
      <div class="required-field form-group halfAvailableWidth has-feedback">
        {{ form.contact_prefer|as_crispy_field }}    
      </div>
    </div>

  </fieldset>

  <!-- Comments - Please provide as much detail as possible. -->

  <div class="required-field form-group has-feedback comments-confirm">
    {{ form.question|as_crispy_field }}
  </div>

  <div class=" form-group has-feedback comments-confirm">
   <div class="radio">
    <table>
     <tbody>
      <tr>
       <td>
        <label>{{ form.receive_alerts|as_crispy_field }}</label>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<div class="g-recaptcha" data-sitekey="6LeHyIUaAAAAAFIoTS2F3ugUfojER9429KUNfrCB"></div>

<div class="form-submit-border comments-confirm">
  <button class="btn btn-default successButton" type="submit" id="svtcContactSubmit">Submit</button>
  
</div>

<fieldset>
  <legend> </legend>
  <div class="row disclaimer">
   <div class="col-md-12">
    <div class="form-group has-feedback">
     <p>DuPont cares about your privacy. Your personal information (name, eMail, phone number and other contact data) will be stored in chosen customer systems primarily hosted in the United States. This information will be used by DuPont, its affiliates, partners, and selected third parties in other countries to provide you with the product or service information requested. To learn more, please visit&nbsp;<a href="http://www.dupont.com/privacy.html">www.privacy.dupont.com</a>.&nbsp;</p>

   </div>
 </div>
</div>
</fieldset>

</div>



</form>
<!--end form area-->
</div>

<div class="col-md-6 pe-0 pt-5 ps-5" >
  <div class="row">
    <div class="col-md-6 information">
      <h3>Where are we?</h3>
      <span><p>965 West Maude Ave<br> Sunnyvale, CA, 94085<br> USA</p></span>
    </div>
    <div class="col-md-6"><img class="img-fluid" src="{% static 'img/svtc-entrance-sign.jpg' %}"></div>
  </div>

  <div class="row pe-0 py-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d666.379977451937!2d-122.04016467031778!3d37.39325552429071!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3f4c57e0d5a1f9b!2sDuPont%20Silicon%20Valley%20Technology%20%26%20Innovation%20Center!5e0!3m2!1sen!2sus!4v1615803732517!5m2!1sen!2sus" width="600" height="350" style="border:0;" loading="lazy"></iframe>

  </div>

  <div class="py-3">
    <h3>Parking Available</h3>
    <p><span class="body2">Parking is available on the side and rear of the facility.</span></p>
    <img class="img-fluid" src="{% static 'img/tech-center-parking.webp' %}">
  </div>


  <div class="row ps-5">
   <div class="col-md-4 ps-5"><img src="{% static 'img/kirk120.png' %}" class="rounded-circle py-4"></div>
   <div class="col-md-7 pt-3">
    <h6>Kirk Thompson</h6>
    <p>Global R&D Leader – Advanced Packaging
      Electronics & Industrial<br/>
      Email: kirk.r.thompson@dupont.com<br>
    Phone: 979-665-2500</p>
  </div>
</div>

<div class="row ps-5">
  <div class="col-md-4 ps-5"><img src="{% static 'img/blank.gif' %}" class="rounded-circle py-4"></div>
  <div class="col-md-7 pt-3">
    <h6>Michelle Sun, Ph.D.</h6>
    <p>Digital Transformation Leader
      DuPont Silicon Valley Technology Center<br/>
      Email: hui.sun@dupont.com<br>
    Phone: 408-419-4477</p>
  </div>
</div>

<div class="row ps-5">
  <div class="col-md-4 ps-5"><img src="{% static 'img/blank.gif' %}" class="rounded-circle py-4"></div>
  <div class="col-md-7 pt-3">
    <h6>Injamul Azad</h6>
    <p>Junior Data Analyst
      DuPont Silicon Valley Technology Center<br/>
      Email: Injamul.azad@dupont.com<br>
    Phone: 856-283-9255</p>
  </div>
</div>




</div>

</div>

</div>

<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>

{% endblock %}