{% extends 'base.html' %}
{% block content %}
{% load static %}
<section>
 <div class="container px-0 mt-5 pt-5">
  <div class="row justify-content-center text-center ">
    <div class="col-12 banner-text pe-5">
     <span class="align-middle pe-5">Machine Learning Portal</span>
   </div>
 </div>
</div>
</section>

<section class="ggry-bg">
	<div class="container px-0">
   <div class="row gy-5 py-5">
    <div class="col-md-6 col-sm-12 row align-items-center">
     <div class="col-md-12 col-sm-12">
      <h1>WhatWe Do</h1>
      <h5>Digital Transformation Team at SVTC builds Machine
        Learning Models that provide R&D researchers efficient
      way to find fast, precise, and accurate predictive results.</h5>
      <ul>
       <li>Improve design and modify experimental trials</li>
       <li>Identify trends from predictive results</li>
       <li>Reduce number of experiments</li>
       <li>Build models that are relevant to your data</li>
       <li>Increase automation and reduce manual Standard Operating Procedure</li>
     </ul>
   </div>
 </div>
 <div class="col-md-6 col-sm-12 pe-0">
   <img src="{% static 'img/what-we-do.gif' %}" class="img-fluid">
 </div>


</div>
</div>
</section>




<section>
	<div class="container my-5 py-5">
   <div class="row">

    <div class="col-md-6 col-sm-12 justify-content-center text-center">
     <div class="row justify-content-center">
      <div class="col-10">
       <span class="align-middle"><img src="{% static 'img/model-prediction.gif' %}" class="img-fluid"></span>
     </div>
   </div>	
 </div>

 <div class="col-md-6 col-sm-12 row align-items-center gt-color">
   <div class="col-md-12 col-sm-12">
    <h1>General
      Information of
    Model Prediction</h1>
    <h6>We give researchers the tools to find experiments they are interested in,
      put in the new values they want to see the prediction for, and find the
      predictive results. This dynamic functionality allows our team to provide
      fast and efficient service to the researchers to know what variables they
    should investigate or experiment with.</h6>
  </div>
</div>


</div>
</div>
</section>




<section class="ggry-bg mt-5 py-5 mb-0">
	<div class="container">
   <div class="row gy-5 py-5">
    <div class="col-md-6 col-sm-12 row align-items-center">
     <div class="col-md-12 col-sm-12">
      <h1>General
        Information
      Learning</h1>
      <h6>We use powerful supervised Machine Learning methods like regression,
        classification, and neural networks to create dynamic Machine Learning
        models that increase efficiency, reduce cost, and . Regression is used for
        continuous variables and returns numerical output value. Classification is used
      for discrete variables and returns the category that the input value belongs in.</h6>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-3 col-sm-12  justify-content-center text-center">
   <div class="row justify-content-center ">
    <div class="col-10">
     <span class="align-middle"><img src="{% static 'img/general-information-learning.gif' %}" class="img-fluid"></span>
   </div>
 </div>	
</div>
</div>
</div>
</section>




</body>
</html>
<script type="text/javascript">
  $('#index_li').addClass('active')
</script>
{% endblock %}